
h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	background: #4aaaa5;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


header{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #ffffff;
	border-color: #cccccc;
}

footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #ffffff;
	border-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
	float: right;
}

img{
	width: 150px;
	height: 150px;
}